## 꼭 알아둬야 할 자료 구조: 배열 (Array)
* 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
* 파이썬에서는 리스트 타입이 배열 기능을 제공함

> 기본부터 철저하게 익히세요 [동기부여 영상](https://youtu.be/whFZCmN__mM)

### 1. 배열은 왜 필요할까?
- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장
- 배열의 장점: 
  - 빠른 접근 가능
- 배열의 단점:
 - 추가/삭제가 쉽지 않음
 - 미리 최대 길이를 지정해야 함
 
### 2. 파이썬과 C 언어의 배열 예제
#### C 언어
```
# include<stdio.h>

int main(int argc, char *argv[])
{
    char country[3] ="US";
    printf("%c%c\n", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}
```

In [1]:
# Python
country='US'
print(country)

country = country + 'A'
print(country)

US
USA

### 3.파이썬과 배열
- 파이썬 리스트 활용

In [2]:
# 1차원 배열: 리스트로 구현시
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [3]:
# 2차원 배열: 리스트로 구현시
data = [[1,2,3],[4, 5, 6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
print(data[0])

[1, 2, 3]

In [5]:
print(data[0][0])

1

In [6]:
print(data[0][0])
print(data[0][1])
print(data[0][2])
print(data[1][0])

1
2
3
4

### 4. 프로그래밍 연습

<div class="alert alert-block alert-warning">
<strong><font color="blue" size="3em">연습1: 위의 2차원 배열에서 9, 8, 7 을 순서대로 출력해보기</font></strong><br>
</div>

In [7]:
print(data[2][2], data[2][1], data[2][0])

9 8 7

In [8]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

<div class="alert alert-block alert-warning">
<strong><font color="blue" size="3em">연습2: 위의 dataset 리스트에서 전체 이름 안에 M 은 몇 번 나왔는지 빈도수 출력하기</font></div>

In [16]:
print(str(dataset).count('M'))

38

In [17]:
m_count = 0
for data in dataset:
    for index in range(len(data)):
        m_count += data[index] == 'M'
print(m_count)

38